body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;

}

.background-radial-gradient {
    background-color: #ad1fff;
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);
}

#container {
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

#form-container,
#file-container {
    padding: 150px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    max-width: 300px;
}

label,
input,
select {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.custom-btn{
    background-color: #ad1fff;
    color: white;
}

.table th{
    color: #ad1fff;
    font-weight: bold;
}






