.input-group-addon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
}

.it-header-center-wrapper {
    background-color: #1D2D8C;
    color: #fff;
    transition: background-color 0.3s;
    padding: 20px 0;
    text-align: center;
}

.it-brand-title {
    font-size: 24px;
    margin-top: -40px;
    float: right;
}

.it-brand-tagline {
    font-size: 20px;
    margin-top: -0px;
    float: right;
}

.center-btn-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.input-group-addon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#togglePassword {
    font-size: 1.25rem;
}

.it-brand-title {
    font-size: 22px;
    transition: color 0.3s;
    margin-top: 13px;
    text-align: left;
    font-weight: bold;
    font-family: 'Cambria', serif;
}

.it-brand-tagline {
    font-size: 17px;
    margin-top: 42px;
    margin-right: -100px;
}

body {
    background-color: white;
    color: blue;
    font-family: 'Cambria', serif;
    margin: 0;
}

.login-container {
    margin-top: 50px;
}

#passwordDimenticata {
    color: #1D2D8C;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card-title {
    color: #1D2D8C;
    transition: color 0.3s;
}

.form-control {
    border-radius: 5px;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #1D2D8C;
}

.btn-animated {
    font-size: 20px;
    width: auto;
    min-width: 110px;
    padding: 12px 16px;
    background-color: #1D2D8C;
    color: white;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s ease;
    display: block;
    margin: auto;
}

.btn-animated:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    color: white;
    transform: scale(1.05);
}

.registration-link {
    color: #1D2D8C;
    text-decoration: none;
    transition: color 0.3s;
}

.login-link:hover {
    color: #1D2D8C;
}

.it-brand-title {
    color: #fff;
    font-size: 24px;
    margin-top: -10px;
    transition: color 0.3s;
}

.card-title:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.it-brand-wrapper a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.it-brand-wrapper a:hover {
    color: #007bff;
}

.it-header-center-wrapper {
    background-color: #1D2D8C;
    color: #fff;
    transition: background-color 0.3s;
    padding: 20px 0;
    text-align: center;
}

.container {
    margin-top: 50px;
}

#showPassword {
    background-color: #1D2D8C;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

#showPassword:hover {
    background-color: #1D2D8C;
    transform: scale(1.05);
}

#password:valid + .input-group-append::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #1D2D8C;
    transition: background-color 0.3s;
}

* {
    box-sizing: border-box;
    font-family: 'Cambria', serif;
}

.it-header-wrapper,
.it-header-slim-wrapper,
.it-header-navbar-wrapper,
.it-header-slim-wrapper-content {
    background-color: #1D2D8C;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

#usernameLabel,
#passwordLabel{
    font-size: 20px;
}
.input-group-addon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
}

.it-header-center-wrapper {
    background-color: #1D2D8C;
    color: #fff;
    transition: background-color 0.3s;
    padding: 20px 0;
    text-align: center;
}

.it-brand-title {
    font-size: 24px;
    margin-top: -40px;
    float: right;
}

.it-brand-tagline {
    font-size: 20px;
    margin-top: -0px;
    float: right;
}

.center-btn-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.input-group-addon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#togglePassword {
    font-size: 1.25rem;
}

.it-brand-title {
    font-size: 22px;
    transition: color 0.3s;
    margin-top: 13px;
    text-align: left;
    font-weight: bold;
    font-family: 'Cambria', serif;
}

.it-brand-tagline {
    font-size: 17px;
    margin-top: 42px;
    margin-right: -100px;
}


@media (max-width: 767px) {
    .it-brand-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .col-md-6.mt-3.mt-md-0 {
        margin-top: 0 !important;
    }

    #image1 {
        max-height: 70px;
        width: auto;
        display: block;
        margin: 0 auto 0 0;
        margin-top: -50px;
    }
}

@media (min-width: 768px) {
    #image1 {
        max-height: 80px;
        width: auto;
        display: block;
        margin: 0 auto 0 0;
    }

    .it-brand-wrapper {
        margin-top: -50px;
    }
}

.it-footer {
    background-color: #1D2D8C;
    color: #fff;
}
.it-footer-main {
    background-color: #1D2D8C;
    padding-bottom: 0;
}

.it-footer-small-prints {
    background-color: #0F1C5E;
    padding: 10px;
}

.it-footer-small-prints-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.card-title {
    cursor: pointer;
    animation: heartbeat 1s;
}

.text-center {
    text-align: center;
}

.mb-4 {
    margin-bottom: 1rem;
}

@media (max-width: 767px) {
    .it-footer-main {
        text-align: center;
    }

    .it-footer-small-prints {
        text-align: center;
    }

    .it-brand-tagline{
        font-size: 10px;
        margin: 0;
    }
}

@media (min-width: 768px) {
    .it-footer-main {
        text-align: center;
        padding: 1px;
    }

    .it-footer-small-prints {
        text-align: right;
    }

    .it-brand-wrapper {
        text-align: left;
    }

    .it-brand-tagline{
        font-size: 16px;
        float: right;
        text-align: center;
        margin: 0;
    }
}

.it-brand-title {
    margin-left: 5%;
    font-size: 16px;
}

@media (min-width: 768px) {
    .it-brand-title {
        margin-left: -150px;
        font-size: 20px;
        margin-top: -10px;
    }

}
