<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitFormDataServlet</servlet-name>
        <servlet-class>servlet.SubmitFormDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttachmentsServlet</servlet-name>
        <servlet-class>AttachmentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttachmentUploadServlet</servlet-name>
        <servlet-class>servlet.AttachmentUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fileuploadservlet</servlet-name>
        <servlet-class>servlet.fileuploadservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInputServlet</servlet-name>
        <servlet-class>servlet.UpdateInputServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTipoDocumento</servlet-name>
        <servlet-class>servlet.UpdateTipoDocumento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitFormDataServlet</servlet-name>
        <url-pattern>/SubmitFormDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttachmentsServlet</servlet-name>
        <url-pattern>/AttachmentsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttachmentUploadServlet</servlet-name>
        <url-pattern>/AttachmentUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fileuploadservlet</servlet-name>
        <url-pattern>/fileuploadservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTipoDocumento</servlet-name>
        <url-pattern>/UpdateTipoDocumento</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
